.about-us-container {
    width: 85%;
    margin: auto;
    padding: 90px 0 150px;
    position: relative;
    /* background-size: 100%;
    background-repeat: no-repeat;
    background-position: right 20px top -120px; */
}
.about-us-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./pic/background/pink.png');
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1; 
    transform: translate(22%, -30%);
    width: var(--before-width); /* 使用CSS变量 */
    height: var(--before-height); /* 使用CSS变量 */
    /* background-position: center; */
}
@media screen and (max-width: 768px) {
    .about-us-container::before {
        --before-width: 600px;
        --before-height: 600px;
    }
}

@media screen and (min-width: 769px) {
    .about-us-container::before {
        --before-width: 900px;
        --before-height: 900px;
    }
}
.about-us-content {
    position: relative;
}
.about-us-txt {
    width: 100%;
    margin: auto;
    line-height: 4.5;
    text-align: center;
    color: rgba(44, 40, 40, .80);
    letter-spacing: 2px;
    position: relative;
}
@media screen and (max-width:768px){
    .about-us-txt {
        font-size: 16px;
        line-height: 3;
    }
}
.divider {  
    border-right: 1px solid rgba(44, 40, 40, .80);
    height: 130px;
    margin-right: 50%;
    margin-top: 9%;
}
@media screen and (max-width:768px) {
    .divider {
        margin-top: 15%;
    }
}
.bg {
    display: block;
    width: 70%;
    /* height: 405px; */
    position: absolute;
    /* top: -10%; */
    /* top: -220px;
    left: 135px; */
    z-index: -5;
}
/* @media screen and (max-width:1200px) {
    .bg {
        top: -190px;
    }
}
@media screen and (max-width:992px) {
    .bg {
        top: -170px;
        left: 110px;
    }
}
@media screen and (max-width:768px) {
    .bg {
        top: -150px;
        left: 80px;
    }
}
@media screen and (max-width:576px) {
    .bg {
        top: -100px;
        left: 50px;
    }
}
@media screen and (max-width:375px) {
    .bg {
        top: -100px;
        left: -45px;
        width: 120%;
    }
} */
.bg img {
    width: 100%;
    opacity: .5;
}
.introduction-totle {
    margin-top: 90px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
    color: rgba(44, 40, 40, .80);
}
.introduction-list {
    margin-top: 70px;
}
.introduction-list-card {
    display: flex;
    gap: 100px;
    padding: 45px 0;
    border-bottom: 1px solid rgba(171, 169, 169, 0.4);
}
@media screen and (max-width:768px){
    .introduction-list > .introduction-list-card:nth-child(3) > .introduction-list-card-txt {
        line-height: 1.2;
    }
    .introduction-list > .introduction-list-card:nth-child(3) > .introduction-list-card-title {
        width: 50px;
    }
}
.introduction-list-card-title {
    font-weight: bold;
}
.introduction-list-card-title, .introduction-list-card-txt {
    letter-spacing: 2px;
    color: rgba(44, 40, 40, .80)
}