.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* .cart-col.pointer {
    pointer-events: none;
} */
.cart {
    padding: 70px 130px 40px;
}
.cart .cart-container {
    width: 100%;
    margin: auto;
    position: sticky;
}
@media screen and (max-width:768px){
    .cart {
        padding: 50px 0;
    }
    .cart .cart-container {
        width: 90%;
    }
}
.cart .cart-container .cart-col{
    display: flex;
    position: relative;
    justify-content: space-between;
}
@media screen and (max-width:1200px){
    .cart .cart-container .cart-col {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }
}
.cart .cart-card {
    width: 570px;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 25px;
    border-radius: 3px;
}
@media screen and (max-width:768px) {
    .cart .cart-card {
        width: 100%;
        margin-bottom: 20px;
    }
    
}
.cart .cart-card:hover{
    box-shadow: 1px 2px 15px 1px #cacaca;
    transition: .4s;
}
.cart .cart-card::after {
    position: absolute;
    content: "X";
    color: rgba(44, 40, 40, .80);
    right: 10px;
    top: 10px;
}
@media screen and (max-width:768px){
    .cart .cart-card::after {
        right: 0px;
        top: -5px;
        font-size: 14px;
    }
}
.cart .cart-card::after:hover {
    color: #c47575;
}
.cart .cart-card-pic {
    display: inline-block;
    width: 143px;
    /* height: 115px; */
    overflow: hidden;
    object-fit: cover;
}
@media screen and (max-width:768px){
    .cart .cart-card-pic {
        width: 150px;
    }
}
.cart .cart-card-pic img {
    width: 100%;
    border-radius: 3px;
}
.cart .cart-card:hover img {
    scale: 1.2;
    transition: .4s;
}
.cart .cart-card-txt {
    letter-spacing: 2px;
    display: grid;
    grid-template-rows: repeat(1, 50px 20px);
    margin-left: 15px;
    gap: 40px;
}
.cart .cart-card-title {
    width: 350px;
    line-height: 1.2;
    align-self: center;
}
@media screen and (max-width:768px){
    .cart .cart-card-title {
        width: 90%;
        font-size: 12px;
    }
    .cart-card-txt{
        width: 100%;
    }
    .cart .cart-card-txt {
        gap: 12px;
    }
}
.cart .cart-card-quantity {
    position: absolute;
    bottom: 25%;
    right: 10px;
    bottom: 10px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(171, 169, 169, 0.4);
    border-radius: 3px;
    padding: 8px 6px;
    text-align: center;
    align-items: center;
}
@media screen and (max-width:768px){
    .cart .cart-card-quantity {
        width: 100px;
        justify-content: center;
        border: none;
        bottom: -5px;
    }
}
.cart .material-symbols-outlined {
    font-size: 18px;
}
.cart .material-symbols-outlined:hover {
    color: #c47575;
}
.cart .cart-card-quantity span {
    display: inline-block;
    width: 40px;
}
.cart .cart-card-quantity .add {
    color: #c47575;
}
.cart .cart-card-quantity .add:hover {
    color: #cacaca;
}
.cart .cart-card-num {
    /* text-align: center; */
    font-size: 18px;
    border: none;
    background-color: #FCFBFA;
    width: 27px;
    padding-left: 15px;
    color: rgba(44, 40, 40, .80);
    outline: none;
}
@media screen and (max-width:768px) {
    .cart .cart-card-num {
        font-size: 14px;
        margin-left: 5px;
    }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cart .cart-col .cart-discount-and-subtotal {
    width: 340px;
    position: relative;
    /* right: 0;
    top: 0; */
}
@media screen and (max-width:1200px){
    .cart .cart-col .cart-discount-and-subtotal {
        /* position: sticky;
        background-origin: padding-box;
        bottom: 30px;
        z-index: 15; */
        margin-left: auto;
        /* width: 100%; */
    }
    .cart .cart-discount {
        background-color: #FCFBFA;
    }
    .cart .cart-subtotal {
        background-color: #FCFBFA;
    }
}
.cart .cart-col .cart-discount-and-subtotal .for-sticky{
    position: sticky;
    top: 20px;
    left: 100%;
    /* right: 0;
    top: 0; */
}
.cart .cart-discount {
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgba(171, 169, 169, 0.4);
    border-radius: 5px;
    padding: 18px 18px;
}
.cart-discount-btn:hover {
    color: #c47575;
}
.cart .cart-discount-title{
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width:768px){
    .cart .cart-discount-title {
        font-size: 14px;
    }
    .cart-discount-btn {
        font-size: 12px;
    }
}
.cart .cart-select-coupon {
    font-size: 13px;
    /* align-self: flex-end; */
    display: flex;
    font-weight: bold;
}
.cart .fa-chevron-right {
    font-size: 9px;
}
.cart .cart-subtotal {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(171, 169, 169, 0.4);
    color: rgba(44, 40, 40, .80);
    border-radius: 5px;
    padding: 18px 18px;
    letter-spacing: 2px;
    margin-top: 20px;
}
.cart .cart-details {
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width:768px){
    .cart .cart-details {
        font-size: 14px;
    }
    .cart .cart-amount-txt {
        font-size: 12px;
    }
}
.cart .cart-price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 50px;
    position: relative;
}
@media screen and (max-width:768px) {
    .cart .cart-price {
        margin-top: 30px;
    }
}
.cart .cart-price::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(171, 169, 169, 0.4);
    width: 100%;
    top: 160%;
}
.cart .cart-subtotal-txt {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.cart .cart-subtotal-subtotal {
    font-size: 14px;
}
.cart .cart-subtotal-price {
    font-size: 18px;
}
@media screen and (max-width:768px){
    .cart .cart-subtotal-price {
        font-size: 16px;
    }
}
.cart .cart-checkout {
    padding: 25px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(171, 169, 169, 0.4);
    border-radius: 3px;
    color: rgba(44, 40, 40, .80);
}
.cart .cart-transport {
    font-size: 14px;
    display: flex;
    /* justify-items: center; */
}
@media screen and (max-width:768px){
    .cart .cart-checkout {
        margin-top: 15px;
    }
    .cart .cart-transport {
        width: 300px;
        display:none         ;
    }
}
.cart .fa-chevron-right {
    align-items: flex-end;
    margin-left: 2px;
}
.cart .cart-checkout-subtotal-txt {
    display: flex;
    gap: 8px;
    margin-left: 50%;
}
@media screen and (max-width:768px) {
    .cart .cart-checkout-subtotal-txt {
        margin-left: 0;
        margin-top: auto;
    }
}
.cart .cart-checkout-subtotal{
    font-size: 14px;
    align-self: flex-end;
}
.cart .cart-checkout-price {
    font-size: 18px;
}
@media screen and (max-width:768px){
    .cart .cart-checkout-price {
        font-size: 16px;
    }
}
.cart .checkout-btn {
    width: 80px;
    font-size: 18px;
    border: 1px solid #c47575;
    border-radius: 5px;
    color: #FCFBFA;
    padding: 10px 48px;
    margin-left: 5%;
    background-color: #c47575;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}
.cart .checkout-btn:hover {
    transform: scale(1.1);
    transition-delay: 0.4s;
}