body{
    background-color: #FCFBFA;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;}
a {
    color: rgba(44, 40, 40, .80);
    text-decoration: none;
}
h3 {
    color: rgba(44, 40, 40, .8);
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
}
h4 {
    font-size: 16px;
    color: rgba(45, 40, 40, .40);
    letter-spacing: 5px;
    text-align: center;}
/* 頁首 */
.header .fa-magnifying-glass-1 {
    display: none;
}
.header {
    padding: 35px 0 35px 120px;
    /* position: sticky;
    top: 0;
    z-index: 10; */
}
.header .header-nav {
    width: 555px;
}
.header .header-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 1200px;
    align-items: center;
}
.header .header-container li {
    font-size: 16px;
}
@media screen and (max-width: 1200px) {
    .header {
        padding: 20px 35px;
        position: relative;
    }
    .header .header-nav {
        /* display: none; */
        position: absolute;
        left: 0;
        z-index: 15;
        background-color:  rgba(250, 242, 242, .9);
        height: 80vh;
        width: 250px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: opacity .2s ease-in-out;
        opacity: 0;
        top: 80%;
    }
    .header-nav.show {
        display: block;
        opacity: 1;
    }
    .header .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        align-items: start;
    }
    .header .header-container li {
        font-size: 24px;
        position: relative;
        padding: 15px;
    }
    .header .header-container li:nth-child(n+2):nth-child(-n+5)::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #c6c6c6;
        width: 250px;
        bottom: -35%;
        left: 0;
    }
    .header .header-hb {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
    }
    .header .header-hb span {
        width: 80%; 
        height: 2px;
        background-color: rgba(10, 10, 10, 0.6);
    }
    .header .header-icon {
        display: none;
    }
    .header .fa-magnifying-glass-1 {
        display: inline;
        font-size: 24px;
    }
    .header .header-hb-icon {
        display: flex;
        align-items: center;
        gap: 35px;
    }
}
.header .header-container li:hover a, .fa-magnifying-glass{
    color: #c47575;
    transition: .4s;
}
.header .header-container li:hover .fa-magnifying-glass{
    color: #c47575;
    transition: .4s;
}
.header-container li a {
    display: block;
    letter-spacing: 1.5px;
}
.header-container li .fa-magnifying-glass {
    font-size: 20px;
    color: rgba(10, 10, 10, 0.8);
}
/* logo */
.logo {
    padding: 26px 0 0 ;
}
.logo .logo-container {
    max-width: 1200px;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.logo .logo-pic {
    display: inline-block;
}
/* title */
.title .title-container {
    max-width: 1200px;
    margin: auto;
}
.title .title-sub-title{
    font-size: 20px;
    margin-top: 40px;
}
.title .title-title {
    font-size: 20px;
    margin-top: 10px;
}
/* 大圖 */
.pic {
padding: 77px 0;
}
.pic-container {
    max-width: 1200px;
    width: 1158px;
    margin: auto;
}
.pic .pic-pic {
    width: 1158px;
    display: block;
}
.pic .pic-pic img {
    width: 100%;
}
/* 頁尾 */ 
.footer {
    padding: 40px 0 17px;
}
.footer .footer-container {
    max-width: 1200px;
    width: 1025px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer .footer-pic {
    width: 146px;
    display: block;
}
.footer .footer-pic img {
    width: 100%;
}
.footer .footer-information-list {
    display: flex;
    justify-content: space-between;
    width: 730px;
}
.footer .footer-information-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.footer .footer-information-col-title {
    font-size: 18px;
    color: rgba(44, 40, 40, .8);
    letter-spacing: 2px;
}
.footer .footer-information-col-txt {
    font-size: 14px;
    color: rgba(44, 40, 40, .8);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
.footer .footer-information-col-txt-content {
    text-align: center;
    letter-spacing: 1.5px;
}
.footer .footer-information-col-txt-content:hover {
    color: #c47575;
}
.footer .footer-information-col-follow-us {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.footer .footer-information-col-follow-us-icon {
    width: 80px;
    display: flex;
    justify-content: space-between;
}
.footer .fa-brands:hover {
    color: #c47575;
}
.footer .footer-copytight-block {
    width: 100%;
    color: rgba(44, 40, 40, .8);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 190px;
    margin-top: 20px;
}
.footer .footer-copytight {
    font-size: 12px;
}
.footer .footer-no-commercial-use-txt {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}