collect-card.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}
/* 產品 */

.title .title-container {
    max-width: 1200px;
    width: 85%;
    margin: auto;
}
.title .title-sub-title{
    font-size: 20px;
    margin-top: 40px;
}
.title .title-title {
    font-size: 20px;
    margin-top: 10px;
}
.search {
    display: none;
}
@media screen and (max-width: 768px) {
    .title .title-container {
        max-width: 1200px;
        width: 20%;
        margin: auto;
        position: relative;
    }
    .search {
        display: block;
    }
    .search .search-container {
        margin: auto;
        width: 80%;
    }
    .search input {
        height: 40px;
        padding-left: 35px;
        border-radius: 3px;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        border: 1px solid #ccc;
    }
    .search input :focus {
        border: 1px solid #888;
        outline: none;
    }
    .magnifier {
        position: absolute;
        z-index: 5;
        left: 50px;
        top: 97px;
        color: #29231c;
    }
}
/* 大圖 */
.pic {
padding: 77px 0;
}
.pic-container {
    max-width: 1200px;
    width: 1158px;
    margin: auto;
}
.pic .pic-pic {
    width: 1158px;
    display: block;
}
.pic .pic-pic img {
    width: 100%;
}
/* icon */
.icon {
    padding: 20px 140px;
}
@media screen and (max-width:768px){
    .icon {
        padding: 0 20px;
    }
}
.icon .icon-container {
    max-width: 1200px;
    width: 215px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.icon .icon-box {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.icon .material-symbols-outlined {
    font-size: 32px;
    color: rgba(44, 40, 40, .6);
}
@media screen and (max-width:768px){
    .icon .material-symbols-outlined {
        display: none;

    }
}
.icon .icon-box span:hover {
    color: #c47575;
}
.icon .icon-box .fa-solid {
    color: rgba(44, 40, 40, .5);
}
.icon .icon-choose {
    width: 120px;
    /* appearance: none; */
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    background-color: #FAF2F2;
    color: rgba(44, 40, 40, .80);
    border: 1px solid #B9AB9C;
    font-size: 16px;
    padding: 0 5px 0;
    position: relative;
    border-radius: 3px;
}
@media screen and (max-width:768px) {
    .icon .icon-choose {
        height: 40px;
        margin-top: 15px;
    }
}
.icon .icon-choose::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    clip-path: polygon(0 0, 5px 0, 3px 5px);
    background-color: #29231c;
    top: 50%;
    right: 5px;
}
.icon .icon-choose:focus {
    border: 1px solid #7a5b3b;
    outline: none;
    box-shadow: 0 0 5px rgba(122, 91, 59, 0.5);
}
.products {
    padding: 20px 0 50px;
}
.products .products-container {
    max-width: 1280px;
    width: 80%;
    margin: auto;
}
.products .products-list-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 55.3px; */
}
@media screen and (max-width:768px){
    .products .products-container {
        width: 90%;
    }
}
@media screen and (max-width:768px) {
    .products .products-container {
        max-width: 370px;
    }
}
.products .products-card {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* padding-bottom: 10px; */
    outline: 1px solid #e1dfdf;
    margin-bottom: 70px;
    /* flex-shrink: 1; */
    /* flex-basis: 300px; */
}
@media screen and (max-width:768px){
    .products .products-card {
        width: 165px;
        margin-bottom: 40px;
        height: 260px;
    }
}
.products .products-card:hover {
    box-shadow: 1px 2px 15px 1px #cacaca;
    transition: .4s;
}
.products .products-list-pic {
    width: 300px;
    display: block;
    overflow: hidden;
    object-fit: cover;
}
@media screen and (max-width:768px){
    .products .products-list-pic {
        width: 165px;
        /* height: 120px; */
    }
}
.products .products-list-pic img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.products .products-card:hover img {
    scale: 1.15;
    transition: .4s;
}
.products .products-card-txt {
    /* height: 29%; */
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 18px 10px;
    letter-spacing: 2px;
    color: rgba(44, 40, 40, .80);
}
@media screen and (max-width:768px){
    .products .products-card-txt {
        padding: 5px 5px;
        /* gap: 20px; */
    }
}
.products .products-card-title {
    font-size: 18px;
    flex-grow: 1;
    line-height: 1.5;
}
@media screen and (max-width:768px) {
    .products .products-card-title {
        font-size: 15px;
        flex-grow: 1;
    }
}
.products .products-card-price-and-icon {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.products .products-card-icon {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
@media screen and (max-width:768px){ 
    .products .products-card-icon {
        font-size: 18px;
        width: 60px;
    }
}
.products .products-card-price-and-icon i{
    color: rgba(44, 40, 40, .80);
}
.products .fa-heart:hover {
    color: #c47575;
}
.products .fa-cart-shopping:hover {
    color: #c47575;
}
.products .products-card-price {
    color: rgba(44, 40, 40, .80);
    font-size: 21px;
    margin-top: auto;
}
@media screen and (max-width:768px){
    .products .products-card-price {
        font-size: 18px;
    }
}
.products .products-page {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: auto;
    font-size: 18px;
}
.products .products-page a:hover {
    color: #c47575;
}